<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkx6LZTMI4S4TzlKdYi8QSjSxp3zf0AsI</string>
	<key>GCM_SENDER_ID</key>
	<string>41447259559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.harvestBuddy</string>
	<key>PROJECT_ID</key>
	<string>harvestbuddy-f0314</string>
	<key>STORAGE_BUCKET</key>
	<string>harvestbuddy-f0314.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41447259559:ios:07712f78ddfe9bed400a82</string>
</dict>
</plist>